body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  margin: 32px;
}

.card-facebook,
.card-twitter,
.card-google-plus,
.card-linkedin,
.card-instagram {
  background-color: transparent;

  width: 80px;
  height: 80px;

  transform: rotate(-30deg) skew(25deg);
}

.card-facebook:hover i:nth-child(5),
.card-twitter:hover i:nth-child(5),
.card-google-plus:hover i:nth-child(5),
.card-linkedin:hover i:nth-child(5),
.card-instagram:hover i:nth-child(5) {
  transform: translate(80px, -80px);
}
.card-facebook:hover i:nth-child(4),
.card-twitter:hover i:nth-child(4),
.card-google-plus:hover i:nth-child(4),
.card-linkedin:hover i:nth-child(4),
.card-instagram:hover i:nth-child(4) {
  transform: translate(60px, -60px);
  opacity: 0.8;
}
.card-facebook:hover i:nth-child(3),
.card-twitter:hover i:nth-child(3),
.card-google-plus:hover i:nth-child(3),
.card-linkedin:hover i:nth-child(3),
.card-instagram:hover i:nth-child(3) {
  transform: translate(40px, -40px);
  opacity: 0.6;
}
.card-facebook:hover i:nth-child(2),
.card-twitter:hover i:nth-child(2),
.card-google-plus:hover i:nth-child(2),
.card-linkedin:hover i:nth-child(2),
.card-instagram:hover i:nth-child(2) {
  transform: translate(20px, -20px);
  opacity: 0.4;
}

.card-facebook:hover i:nth-child(1),
.card-twitter:hover i:nth-child(1),
.card-google-plus:hover i:nth-child(1),
.card-linkedin:hover i:nth-child(1),
.card-instagram:hover i:nth-child(1) {
  opacity: 0.2;
}

.card-facebook i {
  background-color: #3b5998;

  width: 100%;
  height: 100%;
  position: absolute;

  color: #eee;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-twitter i {
  background-color: #00acee;

  width: 100%;
  height: 100%;
  position: absolute;

  color: #eee;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-google-plus i {
  background-color: #db4a39;

  width: 100%;
  height: 100%;
  position: absolute;

  color: #eee;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-linkedin i {
  background-color: #0e76a8;

  width: 100%;
  height: 100%;
  position: absolute;

  color: #eee;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-instagram i {
  background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FCAF45, #FFDC80);

  width: 100%;
  height: 100%;
  position: absolute;

  color: #eee;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}